//- Секция шапки сайта
include includes/head.pug


//- Шапка
- var bgImg = "/img/dest/games/planets-juggler/header/header-1.jpg" // Изображение на десктопе
- var img = "/img/dest/games/planets-juggler/header/header-mobile.jpg" // Изображение на мобильных устройствах
- var appStore = "https://apps.apple.com/us/app/telegram-messenger/id686449807" // Сылка на приложение App Store
- var googlePlay = "https://play.google.com/store/apps/details?id=org.telegram.messenger&hl=ru&gl=US" // Сылка на приложение Google Play
- var container = "md:justify-center" // Проложение блока с контентом. Для положения с право "md:justify-end". Для положения с лево "md:justify-start".
- var cloudColor = "white" // Цвет облока white или black 

include includes/game-header.pug
include includes/cloud.pug

//- Секция о игре
- var gameName = "Planets Juggler" // Название игры
- var text = "Мы приглашаем тебя в космическое путешествие. Ты находишься за границей времени большого взрыва. Время и пространство находятся в опасности быть навсегда проглоченными черной дырой. В твоих силах спасти планеты от вечного затухания. Транспортируй их в безопасный сектор и пригласи на помощь своих друзей."
- var type = "Приключения"
- var bgColor = "#0c001d" // Цвет полоски
- var bgImg = "/img/dest/games/planets-juggler/description/description-bg.jpgd" // Изображение на десктопе
- var img = "/img/dest/games/planets-juggler/description/description-mockup.png" // Изображение на мобильных устройствах
- var stars = 4
- var age = "6+"
- var textColor = "text-white" // Цвет текса 
- var container = "md:justify-start" // Проложение блока с контентом. Для положения с право "md:justify-end". Для положения с лево "md:justify-start".
- var cloudColor = "white" // Цвет облока white или black 

include includes/game-description.pug
include includes/cloud.pug


//- Герои и объекты в игры
- var title = "Объекты в игре" // Заголовок
- var bgColor = "radial-gradient(ellipse at center, #21344b 0%, #0c001e 75%)" // Цвет полоски
- var textColor = "text-white" // Цвет текса
- var titleColor = "text-white" // Цвет имени
- var cloudColor = "white" // Цвет облока white или black 
- var bgImg = "/img/dest/games/planets-juggler/heroes/bg.jpg-" // Изображение на десктопе
- var bgImg = "" // Изображение на десктопе
- var gridCols = "grid-cols-2 md:grid-cols-4"

//- gridClass - Классы блоков сетки. Документация:
//- https://tailwindcss.com/docs/grid-column 
//- https://tailwindcss.com/docs/grid-row
- var hero1 = {gridClass: "",name: "Марс", text: "Равным образом укрепление и развитие структуры требуют.", image: "/img/dest/games/planets-juggler/heroes/heroes-1.png"}
- var hero2 = {gridClass: "",name: "Уран", text: "Равным образом укрепление и развитие структуры требуют. Равным образом укрепление и развитие структуры требуют.", image: "/img/dest/games/planets-juggler/heroes/heroes-2.png"}
- var hero3 = {gridClass: "",name: "Земля", text: "Равным образом укрепление и развитие структуры требуют.", image: "/img/dest/games/planets-juggler/heroes/heroes-3.png"}
- var hero4 = {gridClass: "",name: "Сатурна", text: "Равным образом укрепление и развитие структуры требуют.", image: "/img/dest/games/planets-juggler/heroes/heroes-4.png"}
- var hero5 = {gridClass: "row-span-1 col-span-1 md:row-span-1 md:col-span-2 md:text-center", name: "Площадкa", text: "Равным образом укрепление и развитие структуры требуют.Равным образом укрепление и развитие структуры требуют.", image: "/img/dest/games/planets-juggler/heroes/heroes-5.png"}
- var hero6 = {gridClass: "row-span-1 col-span-1 md:row-span-1 md:col-span-2 md:text-center", name: "Чёрная дыра", text: "Равным образом укрепление и развитие структуры требуют.Равным образом укрепление и развитие структуры требуют.", image: "/img/dest/games/planets-juggler/heroes/heroes-6.png"}

- var heroes = [  hero1, hero6, hero2, hero3, hero5, hero4,]
include includes/game-heroes.pug 
include includes/cloud.pug


//- Галерея игры / Все изображения должны быть с одним и тем же соотношением сторон
//- Документация https://owlcarousel2.github.io/OwlCarousel2/
- var image1 = {title: "Planets Juggler",image: "/img/dest/games/planets-juggler/carousel/carousel1.jpg", text: "Головоломка. Необходимо собрать цвета радуги в правильной последовательности.Головоломка. Необходимо собрать цвета радуги в правильной последовательности."}
- var image2 = {title: "Planets Juggler", image: "/img/dest/games/planets-juggler/carousel/carousel1.jpg", text: "Головоломка. Необходимо собрать цвета радуги в правильной последовательности.Головоломка. Необходимо собрать цвета радуги в правильной последовательности."}
- var image3 = {title: "Planets Juggler", image: "/img/dest/games/planets-juggler/carousel/carousel1.jpg", text: "Головоломка. Необходимо собрать цвета радуги в правильной последовательности.Головоломка. Необходимо собрать цвета радуги в правильной последовательности."}

- var images = [image1, image2, image3, image1, image2, image3 ] 
include includes/game-carousel.pug


//- Дополнительная информация
- var item1 = {title: "Обновлено", text: "9 октября 2020 г."}
- var item2 = {title: "Размер", text: "Зависит от устройства"}
- var item3 = {title: "Количество установок", text: "50 000 000+"}
- var item4= {title: "Текущая версия", text: "1.44.2"}
- var item5 = {title: "Требуемая версия Android", text: "4.4 и выше"}
- var item6 = {title: "Возрастные ограничения", text: "6+"}

- var data = [item1, item2, item3, item4,item6, item5]
include includes/game-info.pug

//- Подписка
include includes/subscribe.pug

//- Секция подвала сайта
include includes/footer.pug