section.game-header(id="section-game" style="background-image: url('" + bgImg +"')")
  .game-header__container
    .game-header__content
      img.game-header__content__image(src=img, alt="")
      .game-header__content__buttons 
          a.game-header__content__button.game-header__content__button--first(href=googlePlay)
            img(src="/img/dest/google_play.svg", alt="") 
          a.game-header__content__button(href=appStore)
            img(src="/img/dest/app_store.svg", alt="")