//- .section-footer__divider
section.subscribe
    .subscribe__container
       form.subscribe__content
            h3.subscribe__title Узнайте первым, о новых релизах от KSM`s Games!
            .subscribe__form
                button(type="submit")
                    svg(width='29', height='24', viewbox='0 0 29 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M15.9545 1L27 12M27 12L15.9545 23M27 12H0', stroke='white', stroke-width='2')
                input#search-footer.subscribe__input(placeholder="Введите E-mail")
